<div class="user-details">
  <h1>About the project</h1>
  <div style="text-align: left">
    <span>KoalaCoin aims to raise awareness about the current state of koalas.
      By trading KoalaCoins you're helping to get koalas more popular, and this can push
      other people to know more about the vulnerable state of koalas and their risk of extinction.<br>
      Our ultimate goal is to create a platform that integrates with international animal organizations, and allows us
      to donate with KoalaCoins to protect wildlife. <br>
      Have a quick look at the <a href="#roadmap" data-scroll>Roadmap</a> to see all the goals and what the team is
      working on right now!
    </span>
  </div>
</div>