<div class="user-details">
  <h1>About the project</h1>
  KoalaCoin aims to raise awareness about the current state of koalas. It's a fun coin but it is also useful to make
  koalas more popular
  and get other people to know more about the fact they're in vulnerable state. KoalaCoin will save koalas from
  extinction.
  <h1>KoalaCoin VS DogeCoin</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>KoalaCoin</h2>
    <img src="{{ "/assets/img/koalacoin.svg" | prepend: site.baseurl }}"></i>
    <p><i class="icon fa fa-check"></i> 420,690 fixed limited supply</p>
    <p><i class="icon fa fa-check"></i> Free giveaways on <a target="_blank" href="{{site.reddit_link}}">Reddit</a></p>
    <p><i class="icon fa fa-check"></i> Ultra fast</p>
    <p><i class="icon fa fa-check"></i> Helps promote koalas and raise people awareness of their danger of exctintion</p>
    <p><i class="icon fa fa-check"></i> Koala is cute</p>
  </div>
  <div class="tech">
    <h2>DogeCoin</h2>
    <img src="{{ "/assets/img/dogecoin.svg" | prepend: site.baseurl }}"></i>
    <p><i class="icon fa fa-times"></i> No limited supply</p>
    <p><i class="icon fa fa-times"></i> No giveaways, doge is stingy</p>
    <p><i class="icon fa fa-times"></i> 10x slower</p>
    <p><i class="icon fa fa-times"></i> No utility, no need of promoting dogs around the world</p>
    <p><i class="icon fa fa-times"></i> Doge is a bad boy</p>
  </div>
</div>