<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Buy on Pancake" target="_blank" href="{{site.pancake_link}}"><i class="icon fa fa-exchange"></i></a>
        <a aria-label="Reddit" target="_blank" href="{{site.reddit_link}}"><i class="icon fa fa-reddit" aria-hidden="true"></i></a>
        <a aria-label="My Instagram" target="_blank" href="#"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#howtobuy" data-scroll><b>How To Buy</b></a>
        <a class="link" href="#roadmap" data-scroll>RoadMap</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
