<div id="particles-js">
  <div class="header">
    <h1>
      <div class="site-title">
        <div><img src="{{ " /assets/img/koalacoin-logo.png" | prepend: site.baseurl }}"></img></div>
        <div>{{site.username}}</div>
      </div>
      <div class="separator"></div>
      <span class="site-description">{{site.user_title_1}}</span>
      <span class="site-description">{{site.user_title_2}}</span>
    </h1>
    <div class="contract-block-container">{% include contractblock.html %}</div>
    <div class="separator"></div>
    <div class="header-icons">
      <a aria-label="Buy on Pancake" target="_blank" href="{{site.pancake_link}}"><i
          class="icon fa fa-exchange"></i></a>
      <a aria-label="Reddit" target="_blank" href="{{site.reddit_link}}"><i class="icon fa fa-reddit"
          aria-hidden="true"></i></a>
      <a aria-label="My Instagram" target="_blank" href="{{site.instagram_link}}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
      <a aria-label="My Youtube" target="_blank" href="{{site.youtube_link}}"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
      <a aria-label="My Twitter" target="_blank" href="{{site.twitter_link}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#about" data-scroll>About</a>
      <a class="link howtobuy-link" href="#howtobuy" data-scroll>How To Buy</a>
      <a class="link" href="#koalavsdoge" data-scroll>Koala vs Doge</a>
      <a class="link" href="#roadmap" data-scroll>Roadmap</a>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>