<div class="user-details">
<h1>How To Buy</h1>
<div class="howtobuy-list">
  <ul class="fa-ul">
    <li><i class="fa-li bullet-point"></i>Create a digital currency wallet, for example with 
      <a target="_blank" href="https://metamask.io/">Metamask</a></li>,
      <a target="_blank" href="https://academy.binance.com/en/articles/how-to-use-binance-chain-wallet">Binance Chain Wallet</a> or
      <a target="_blank" href="https://trustwallet.com/">Trust Wallet</a>
    <li><i class="fa-li bullet-point"></i>Make sure your wallet is connected to the Binance Smart Chain network (if you use Binance Chain Wallet, BSC is set by default)</li>
    <li><i class="fa-li bullet-point"></i>Buy BNB, on Metamask and Trust Wallet you can buy directly by using your credit card, otherwise you can also buy on an exchange like Binance or Coinbase and then transfer the BNB to your wallet</li>
    <li><i class="fa-li bullet-point"></i>Add KoalaCoin to your wallet, the contract address is <br>
      {% include contractblock.html %} </li>
    <li><i class="fa-li bullet-point"></i>Swap BNB to KOALA, you can do it directly from your wallet, or you can do it on PancakeSwap</li>
  </ul>
  If you need more help, you can watch our <a target="_blank" href="https://youtu.be/LAOoy4UIl84">Youtube video</a>,
or you can contact us on our social medias.
</div>
</div>