<div class="user-details">
  <h1>KoalaCoin VS DogeCoin</h1>
  <div class="user">
    <div class="tech">
      <h2>KoalaCoin</h2>
      <img src="{{ " /assets/img/koalacoin-logo.svg" | prepend: site.baseurl }}"></i>
      <p><i class="icon fa fa-check"></i> 420,690 fixed limited supply</p>
      <p><i class="icon fa fa-check"></i> Free giveaways on <a target="_blank" href="{{site.reddit_link}}">Reddit</a>
      </p>
      <p><i class="icon fa fa-check"></i> Ultra fast</p>
      <p><i class="icon fa fa-check"></i> Helps promote koalas and raise people awareness of their danger of extinction
      </p>
      <p><i class="icon fa fa-check"></i> Koala is cute</p>
    </div>
    <div class="tech">
      <h2>DogeCoin</h2>
      <img src="{{ " /assets/img/dogecoin.svg" | prepend: site.baseurl }}"></i>
      <p><i class="icon fa fa-times"></i> No limited supply</p>
      <p><i class="icon fa fa-times"></i> No giveaways, doge is stingy</p>
      <p><i class="icon fa fa-times"></i> 10x slower</p>
      <p><i class="icon fa fa-times"></i> No utility, no need of promoting dogs around the world</p>
      <p><i class="icon fa fa-times"></i> Doge is a bad boy</p>
    </div>
  </div>
</div>