<div class="user-details">
  <h1> Roadmap </h1>
</div>
<div class="user-projects">
  <div class="roadmap-line completed">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Deploy contract on Binance Smart Chain</li>
      <li><i class="fa-li fa fa-check-square"></i>Website creation</li>
      <li><i class="fa-li fa fa-check-square"></i>Logo design</li>
      <li><i class="fa-li fa fa-check-square"></i>First giveaway on reddit</li>
    </ul>
  </div>
  <div class="roadmap-line">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Reddit posts</li>
      <li><i class="fa-li out-square"></i>Second giveaway</li>
      <li><i class="fa-li out-square"></i>Promotion on social medias (Instagram, TikTok, Youtube)</li>
      <li><i class="fa-li out-square"></i>Poocoin ads</li>
      <li><i class="fa-li out-square"></i>Collaboration with influencers</li>
    </ul>
  </div>
  <div class="roadmap-line">
    <ul class="fa-ul">
      <li><i class="fa-li out-square"></i>ERC-20 Uniswap bridge</li>
      <li><i class="fa-li out-square"></i>SPL Soalana bridge</li>
      <li><i class="fa-li out-square"></i>Team expansion</li>
    </ul>
  </div>
  <div class="roadmap-line">
    <ul class="fa-ul">
      <li><i class="fa-li out-square"></i>Create a shop where the profits are given to animal charity organizations if
        you pay with KoalaCoin</li>
      <li><i class="fa-li out-square"></i>Team up with animal organizations to be able to donate with KoalaCoin</li>
      <li><i class="fa-li out-square"></i>Binance listing</li>
    </ul>
  </div>
</div>