<div class="user-details">
  <h1> Roadmap </h1>
</div>
<div class="user-projects">
  <div class="roadmap-line">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i> ipsum long bois lotsa pats blep. What a nice floof ruff </li>
      <li> super chub very good spot, the neighborhood pupper lotsa pats. Borkdrive shibe shoober what a nice floof,
        borking doggo.</li>
    </ul>
  </div>
  <div class="roadmap-line">
    <ul class="fa-ul">
      <li><i class="fa-li out-square"></i>ipsum long bois lotsa pats blep. What a nice floof ruff </li>
      <li> super chub very good spot, the neighborhood pupper lotsa pats. Borkdrive shibe shoober what a nice floof,
        borking doggo.</li>
    </ul>
  </div>
  <div class="roadmap-line">
    <ul class="fa-ul">
      <li><span class="fa-li"><i class="fa fa-check-square"></i></span> ipsum long bois lotsa pats blep. What a nice floof ruff </li>
      <li> super chub very good spot, the neighborhood pupper lotsa pats. Borkdrive shibe shoober what a nice floof,
        borking doggo.</li>
    </ul>
  </div>
</div>