#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px 7vw;

  @media only screen and (min-width: $cut) {
    width: 30vw;
  }
}

img {
  height: 100px;
}

a {
  text-decoration: none;
  color: cornflowerblue;
  font-weight: bolder;
}

.fa-check {
  color: green;
  font-size: 25px;
}

.fa-times {
  color: red;
  font-size: 25px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}