@import "lib/normalize";
@import "lib/fontawesome";
@import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'projects';
@import 'footer';


.separator {
  justify-content: center;
  margin: 2px 0;
  width: 60%;
  height: 1px;
  border-bottom: 1px solid white;
  display: inline-block;
  position: relative;

  @media only screen and (min-width:$cut){
    width: 40%;
  }
}