@import "lib/normalize";
@import "lib/devicon";
@import "lib/fontawesome";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'howtobuy';
@import 'koalavsdoge';
@import 'projects';
@import 'footer';
@import 'contractblock';


.separator {
  justify-content: center;
  margin: 2px 0;
  width: 60%;
  height: 1px;
  border-bottom: 1px solid white;
  display: inline-block;
  position: relative;

  @media only screen and (min-width:$cut){
    width: 40%;
  }
}

.fa-check-square {  
  background: linear-gradient(to right, rgba(0,181,78,0.74) 20%, rgba(26,17,135,0.8) 100%);
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.out-square {
  border: solid 3px transparent;
  border-radius: 20%;
  background-image: linear-gradient(white, white), linear-gradient(to right, rgba(0,181,78,0.74) 20%, rgba(26,17,135,0.8) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 14px;
  height: 14px;
  margin-left: 1px;
}

.bullet-point {
  border: solid 4px transparent;
  border-radius: 100%;
  background-image: linear-gradient(white, white), linear-gradient(to right, rgba(0,181,78,0.74) 20%, rgba(26,17,135,0.8) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 0px;
  height: 0px;
  left: -25px;
  top: 8px;
} 

.fa-check {  
  background: linear-gradient(to right, rgba(0,181,78,0.74) 20%, rgba(26,17,135,0.8) 100%);
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.fa-times {
  background: linear-gradient(to right,rgb(244,67,54) 0%, rgb(31,74,154) 100%);
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.contract {
  font-size: 10px;
  display: block;
  margin-top: 10px;
  font-weight: bolder;
  @media only screen and (min-width:$cut){
    font-size: 16px;
  }
}